<!DOCTYPE html>

<html>

<head>
    <title>Dette er en titel</title>

</head>

<body>

<h1> Dette er min buddy </h1>
<p>
    Lorem ipsum dolor sit azat,
    consectetur adipisicing elit.
    A dolor, reiciendis. <br/>
    Consequatur cumque deleniti
    deserunt distinctio, doloremque
    earum et excepturi exercitationem
    illo impedit iure modi nihil
    provident quo sequi voluptatum? ksjhfksh ksjdfksjhdfjk       sdfhksjdhfkdsjfjdfhs
</p>

<p> <a href="http://www.github.com">YES </a> &nbsp; <a href="http://www.github.com">NO</a> </p>




<img src="https://github.com/dat17v1/2_04_exercise_warmup/raw/master/ScreenShot.jpg" alt="test" />

</body>

</html>

