<!DOCTYPE html>
<html lang="en">
<head>

    <title>Lists</title>
    <link rel="stylesheet"
          href="/Users/clbo/IdeaProjects/MyFirstWebSite/src/main/resources/static/style.css"
          th:href="@{style.css}" />
</head>
<body>

<h1>Lists</h1>

<ul> <!-- Unordered list -->
    <li>Task 1</li> <!-- list item -->
    <li>Task 2</li>
    <li>Task 3</li>
    <ul>
        <li>sub task 3</li>
        <li>sub task 2 3</li>
    </ul>
</ul>

<ol type="A"> <!-- oredered list -->
    <li>Task 1</li> <!-- list item -->
    <li>Task 2</li>
    <li>Task 3</li>
</ol>


<div style="border:1px solid #000">
    skdhfskdjhfksdhfds
    sdfjklsdfjlsdkjflsdkjfl
</div>
<div style="border:1px solid #000">
    jkjkjkjkjkjkjkjkjljljljlj
</div>



</body>
</html>